
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
.content {
    
    height: 900px;
} 
.main-content{
  display: flex;
}
.header-content{
  height: 50px;
  margin-left: 40px;
  margin-top: 40px;
}
  .container-editprofile {
   
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 14px;
    width: 70%;
   
   
  }
  
  .label {
    
    text-align: left;
    padding-left: 200px;
    margin: auto;
    width: 100%;
  }
  
  .input {
    
    padding: 10px;
    margin: 5px 0 ;
    display: inline-block;
    border: none;
    resize: vertical;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.2);
    border: 2px solid #070707;
    border-radius: 4px;
    width: 95%;
  }
  
  .select {
    padding: 5px;
    border: 2px solid #0a0a0a;
    border-radius: 4px;
    width: 30%;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"></path></svg>');
    background-position: right 10px center;
    background-repeat: no-repeat;
  }
  .image-upload-container {
    justify-content: center;
    width: 18vw;
    height: 18vw;
    border: 2px solid #0a0a0a;
    border-radius: 4px;
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  
  }
  
  .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .upload-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .change-link {
    font-size: 16px;
    color: #337ab7;
    text-decoration: none;
  }
  
  .upload-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #1184e9;
    font-weight: 500;
  }
  
.text-home{
  color: #1184e9;
  margin: 0 5px;
}
  
#upload-input {
  display: none;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}
.right-container{
  width: 30%;
  float: right;
  display: flex;
}
.button-container {
  text-align: center; 
}

.button {
  margin: 10px; 
  padding: 10px 20px;
 
  
  border-radius: 5px solid black;
  background-color: white; 
  
  cursor: pointer; 
}
.button:hover{
  background-color: #c9c4c4;
}
.button-container {
  margin-top: 50px;
  margin: 0 auto;
  height: 100px; 
}
.p-upload{
  margin: auto 0;
}