
.bg-body-tertiary{
    background-color: white !important;
}

.btn-login, .btn-signin{
    margin: 0 20px;
    border-radius: 12px;
    
    font-weight: 600;
    padding: 10px 16px;
}

.btn-login{
    background-color: white;
    border: white;
}
.btn-signin{
    color: white;
    background-color: black;
}



