.span{
  float: inline-start;
  color: black;
  margin: 10px 0;
}

.span-signin{
  float: inline-end;
  
  margin: 10px 0;

}
 
  h1, label{
    color: rgb(13, 13, 14);
  }
  .content-form{
    margin-top: 80px;
  }
  /* Full-width input fields */
.input-login{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.2);
  }
  
  input[type=text]:focus, input[type=password]:focus {
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */

  
  button:hover {
    opacity:1;
  }
  

  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  .signupbtn {
    margin: 100px 100px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.2);
  }
  .signupbtn {
    background-color:rgb(8, 8, 8);
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.85;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.text-gohome{
  cursor: pointer;
}